<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>webservice</display-name>
  <filter>
    <filter-name>Jersey Filter</filter-name>
    <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>com.sun.jersey.config.feature.Redirect</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.ImplicitViewables</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.smartitengineering.cms.ws.resources;com.smartitengineering.cms.ws.resources.workspace;com.smartitengineering.cms.ws.common.providers</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
      <param-value>/(images|css|jsp|script)/.*</param-value>
    </init-param>
  </filter>
  <!--
    Since we are using Jetty for deployment initially we are assuming that Jetty will be configured to do this
  -->
  <!--
  <filter>
    <filter-name>Date Filter</filter-name>
    <filter-class>com.smartitengineering.cms.ws.DateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Date Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  <filter-mapping>
    <filter-name>Jersey Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <description>Initialize API and SPI of Smart CMS</description>
    <listener-class>com.smartitengineering.cms.ws.InitializerContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>
            30
    </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
