contextName=com.smartitnengineering.smart-cms.spi
modules=com.smartitengineering.cms.binder.guice.SPIModule,com.smartitengineering.cms.binder.guice.SPIWorkspaceServiceModule
ignoreMissingDependency=true
